@use '../abstracts/variables' as *;

body {
    font-family: $font-family;
    // line-height: $line-height;
    font-weight: $font-weight; 
    margin: 0;
    display: flex;
    place-items: center;
    background-color: $Cream;
    color: black;
    background-color: #dcd8d5;
}