@use '../abstracts/variables' as *;

.badge {
  padding: .2rem .6rem;
  border-radius: .35rem;
  text-align: center;
  min-width: 4rem;
}

.success {
  background-color: $c-success;
  border-color: $c-success-light;
}

.warning {
  background-color: $c-warning;
  border-color: $c-warning-light;
}

.danger {
  background-color: $c-danger;
  border-color: $c-danger-light;
}

.bruh {
  background-color: $c-bruh;
  border-color: $c-bruh-light;
}