@use '../abstracts/variables' as *;

.hint {
  font-size: $fs-xs;
  font-weight: lighter;
  color: burlywood;
  display: none;
  visibility: hidden;
}

.split-even-amount {
  color: chocolate;
  opacity: .7;
}

.danger-text {
  color: $c-danger;
}