@use '../abstracts/variables' as *;

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin: 1rem 0;
}

.modal-content * {
  width: 100%;
}

.modal-content p {
  margin: .25rem;
  font-size: $fs-s;
  display: flex;
}

.modal-content p > span:last-child {
  text-align: end;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTable {
  padding: .5rem;
}

.modalTable td {
  padding: .25rem .5rem;
  font-size: $fs-xs;
}

.modalTable th {
  padding: .25rem .5rem;
  font-size: $fs-xs;
}

.modalTable .badge {
  scale: .87;
  padding: .1rem .2rem;
}

.modalTable hr {
  padding: 0;
}

.modal-title {
  display: flex;
  flex-direction: column;
  gap: .15rem;
}

  .modal-title p {
    margin: 0;
    font-size: $fs-xs;
  }

  .modal-title h2 {
    margin: 0;
  }