@use '../abstracts/variables' as *;

table {
  display: inline-block;
  table-layout: auto;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
}

  .table-title {
    display: flex;
    flex-direction: column;
    gap: .15rem;
    text-align: start;
    padding: .5rem;
  }

  .table-title p {
    margin: 0;
    font-size: $fs-xs;
  }

  .table-title h2 {
    margin-bottom: 0;
    font-size: $fs-l;
  }

  caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  tbody {
    display: table-row-group !important; /* or just remove display setting entirely */
    width: auto !important;; /* optional, but fine */
  }

  thead {
    display: table-header-group; /* or just remove display setting entirely */
    width: 100%; /* optional, but fine */
  }

    tbody tr:hover {
      background-color: rgba(105, 104, 104, .15);
      transition: background-color 0.15s ease-in-out;
    }

    td, th {
      width: auto;
    }

    td {
        font-size: $fs-s;
    }

    .totalsRow {
      display: flex;
      gap: .25rem;
      flex-direction: column;
    }

.responsive-table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  width: 100%;
}

  .responsive-table th, 
  .responsive-table td {
    padding: 0.5rem;
    text-align: left;
  }

    .actionsContainer {
      display: flex;
      gap: .15rem;
      align-items: center;
    }

  .btn-name {
    font-size: $fs-s;
  }

@media screen and (max-width: 768px) {

  .btn-name, .table-description {
    display: none;
  }

  td[data-label] {
    display: block;
  }

  .tableContainer {
    min-width: 80dvw;
  }

  .responsive-table {
    width: 100%;
  }

  caption h2 {
    margin: 0;
  }

  caption td {
    display: block !important;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, .25);
    padding: 0.5rem;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  .responsive-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: $OliveGray;
  }

}
