@use '../abstracts/variables' as *;



table {
  display: inline-block;
  table-layout: auto;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}

  .table-title {
    display: flex;
    flex-direction: column;
    gap: .15rem;
  }

  .table-title p {
    margin: 0;
    font-size: var($fs-xs);
  }

  .table-title h2 {
    margin-bottom: 0;
  }

  thead, tbody, caption {
    display: table-header-group; /* or just remove display setting entirely */
    width: 100%; /* optional, but fine */
  }

    td, th {
      width: auto;
    }

    td {
        font-size: $fs-s;
    }

.responsive-table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

  .responsive-table th, 
  .responsive-table td {
    padding: 0.5rem;
    text-align: left;
  }

@media screen and (max-width: 768px) {

  .readable-id, .btn-name, .table-description {
    display: none;
  }

  td[data-label] {
    display: block;
  }

  td {
    min-width: 13rem;
  }

  .actionsContainer {
    display: flex;
    gap: .15rem;
  }

  caption h2 {
    margin: 0;
  }

  caption td {
    display: block !important;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, .25);
    padding: 0.5rem;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  .responsive-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: white;
  }

}
