  $font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  $line-height: 1.5;
  $font-weight: 400;

  $Cream: #F9F4F0;
  $OliveGray: rgb(105, 104, 104);
  $taupe-gray: #7A7672 ; /*label*/

  $fs-xxs: 0.5rem; /* mobile data */
  $fs-xs: 0.75rem; /* data */
  $fs-s: 0.875rem; /* btn, sidebar items*/
  $fs-m: 1rem; /* h3 */
  $fs-l: 1.25rem; /* h2 */
  $fs-xl: 1.5rem; /* h1 */
  $fs-xxl: 2rem;
  $fs-xxxl: 3rem;

  $c-success: #065F46;
  $c-warning: #92400E;
  $c-danger: #7F1D1D;
  $c-bruh: #1F2937;

  $c-success-light: rgba(236, 253, 245, 0.25); /* #ECFDF5 */
  $c-warning-light: rgba(255, 251, 235, 0.25); /* #FFFBEB */
  $c-danger-light:  rgba(254, 242, 242, 0.25); /* #FEF2F2 */
  $c-bruh-light:    rgba(249, 250, 251, 0.25); /* #F9FAFB */