.transactionsContainer {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

hr {
    margin: 0;
    opacity: .3;
}

.input {
    width: 100%;
    box-sizing: border-box;
}

button {
    margin: .15rem;
}


.iconBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
}

.thActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subtotal {
    font-size: var(--fs-s);
    font-weight: 100;
}

.twoColumnContainer {
    display: flex;
    flex-direction: row;
}

.tableContainer {
  width: auto;
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid #ccc;
}


@media (max-width: 1440px) {
    .transactionsContainer {
        display: flex;
        flex-direction: column;
    }

    .twoColumnContainer {
        flex-direction: column-reverse;
    }
    
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .twoColumnContainer {
        flex-direction: column-reverse;
    }

}