#root {
    max-width: 100vw;
}
.transactionsContainer {
    display: flex;
    gap: 1.5rem;
    
}

.transactionsContainer > table {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
    min-width: 550px;

}

hr {
    margin: 0;
    opacity: .3;
}

.input {
    width: 170.4px;
}

button {
    margin: .15rem;
}

td {
    font-size: var(--fs-s);
}

.iconBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
}


.thActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal {
    font-size: var(--fs-s);
    font-weight: 100;
}

.twoColumnContainer {
    display: flex;
}

@media (max-width: 1440px) {
    .transactionsContainer {
        display: flex;
        flex-direction: column;
    }

    .twoColumnContainer {
        flex-direction: column;
    }
    
    

}